mixin articleList(arg)
  //just for dev purposes
  .row
    each _ in [0,0]
      each val in arg
        .col-xs-12.col-sm-6.col-md-4.mb-30
          .mb-45
            .article-list-bg.col-xs-12.mb-30(style!="background-image: url("+val.photo_url+")")
              .article-list-label.col-xs-12= val.label
            .row.mb-15
              .col-xs-8
                div.article-list-title= val.title
                div.article-list-author= val.author
              .col-xs-4.text-right
                if val.start
                  span.article-list-date= val.start
                    if val.start && val.end
                      | -
                if val.end
                  span.article-list-date= val.end
            .mb-30.article-list-resume= val.resume
            a.btn.btn-default.pull-right.mb-30(href="article.html") Lire la suite

mixin test(arr)
  each val in arr
    p #{val.a}
        
mixin article(arg)
  .container
    .row.mb-15
      .col-xs-8.col-sm-5.col-sm-offset-1
        div.article-title= arg.title
        div.article-author= arg.author
      .col-xs-4.col-sm-5.text-right
        if arg.start
          div.article-date= arg.start
        if arg.end
          div.article-date= arg.end
  .container-fluid.fill
    .row.mb-30
      #carousel-article.carousel.slide(data-ride='carousel', data-interval="3000")
        // Indicators
        ol.carousel-indicators
          - var classItem = "active";
          each val, i in arg.photos
            if i > 0
              - classItem=""
            li(class=classItem, data-target='#carousel-article', data-slide-to=i) 
            
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .article-label.col-xs-12.visible-xs= arg.label

          - var classItem = "active";
          each val, i in arg.photos
            if i > 0
              - classItem=""
            .item(class=classItem)
              .fill(style="background-image:url(#{val.url}")
              .carousel-caption 
                h1 #{val.label}
                p #{val.resume}
        // Controls
        a.left.carousel-control(href='#carousel-article', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-article', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next

  .container
    .row.mb-30
      .col-xs-6.col-sm-5.col-sm-offset-1
        div Posté le 
          span.article-date #{arg.publication_info.parution.date}
        div 
          span.article-hour #{arg.publication_info.parution.hour}
      .col-xs-6.col-sm-5.text-right.article-author
        div #{arg.publication_info.author}
    .row
      each val in arg.resume
        .col-xs-12.col-sm-10.col-sm-offset-1
          p.mb-30 #{val}

    .row.mb-30
      .col-xs-12.col-sm-10.col-sm-offset-1.text-right
        div Mise à jour le
        div #{arg.publication_info.maj.date} - #{arg.publication_info.maj.hour}