mixin articleList(arg)
  //just for dev purposes
  - var cpt = 0;
  .row
    each val in arg
      - ++cpt;
      .col-xs-12.col-sm-6.col-md-4.mb-30
        .mb-45
          .article-list-bg.col-xs-12.mb-30.text-center(style!="background-image: url("+val.photo_url+")")
            .article-list-label= val.label
          .row.mb-15
            .col-xs-8.padl-10
              div.article-list-title= val.title
              div.article-list-author= val.author
            .col-xs-4.text-right.padr-10
              if val.start
                span.article-list-date(title="Début dans 11 jours")= val.start
                  if val.start && val.end
                    |  - 
              if val.end
                span.article-list-date(title="Fin dans 3 semaines")= val.end
          .mb-15.article-list-resume.pad-40.mb-30= val.resume
          .mb-30.ml-15.mr-15
            each v in val.tags
              a.btn.btn-default.article-list-tag= v
          a.btn.btn-sm.btn-default.pull-right.mb-45.btn-theme.mr-15(href="article.html") Lire la suite

mixin test(arr)
  each val in arr
    p #{val.a}
        
mixin article(arg)
  .container
      .jumbotron.article-presentation
        .row
          .circle-cheese-1
          .circle-cheese-2
          .circle-cheese-3
          .col-md-10
            h1.mt-45.mb-30= arg.title
        .row
          .col-md-10
            p.lead La talentueuse photographe Tatiana Iglov viendra témoigner de son expérience en tant que reporter de guerre.
            p.blockquote  "J'ai traversé les champs de bataille et les coeurs des populations meurtries par la détresse"
            div.pull-right  
              p.schedule.nopadding Paru le <strong> #{arg.publication_info.parution.date} - #{arg.publication_info.parution.hour} </strong>
              p.schedule.pull-right <em> #{arg.publication_info.author}</em>
  .container.back-white
    .row.mt-45
      .col-xs-12
        .row.text-center
          .clock
          p.mt-30.event-schedule  Du 2 Avril au 10 Avril
          p.event-schedule A l'arrière salon
      each val,i in arg.resume
        .col-xs-12.col-md-8.col-md-offset-2.text-resume
          if i == 0
            h2.mb-45.mt-30 Bio <small>graphie</small>
          p.nomargin #{val}
      .col-xs-10.col-xs-offset-1.citation 
        p Ce qui me passionne c'est  de voir la réalité de mes propres yeux. Aider les populations en guerre via mon objectif, est ma seule raison d'être. Soutenir, aider, soigner, apaiser ces pauvres gens, sont les actes de demain.  
        p.author.pull-right Tatiana Iglov
  .container.back-white
    .row.mb-30.mt-15
      .col-xs-12.col-sm-10.col-sm-offset-1
        .square-img.square-right
        .col-xs-12.article-illu-expo(style= "background:url(/images/blog/war.jpg)")
    .row.mb-30.mt-60
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        h2 Oeuvres <small>célèbres</small>
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.article-illu-expo(style="background-image:url('"+arg.photos[0].url +"')")
    .row
      .square-img
      .padb-60.padt-60.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-resume= arg.resume[2] 
    .row
      .square-img
      .article-illu-expo-sub.col-md-4.col-md-offset-2.col-sm-10.col-sm-offset-1(style="background-image:url('"+arg.photos[1].url +"')")
      .article-illu-expo-sub.col-sm-10.col-sm-offset-1.col-md-4.col-md-offset-0(style="background-image:url('"+arg.photos[2].url +"')")
      .col-md-4.col-md-offset-2
        .text-resume-wrapper
          p.text-resume-pad30 #{arg.resume[1]}
      .col-md-4
        .text-resume-wrapper
          p.text-resume-pad30 #{arg.resume[1]}
    .row.mb-30
      .col-xs-12.col-sm-10.col-sm-offset-1.text-right.col-md-8.col-md-offset-2
        .article-maj Mise à jour le
        .article-maj #{arg.publication_info.maj.date} - #{arg.publication_info.maj.hour}
        
    +lastArticles()


mixin lastArticles()
  .row.mb-30.hidden-xs.text-center
      h3.mb-30 Dernières publications
      .col-sm-4
        .article-list-label Musique
        .last-articles.last1
          +carousel({
            id:'last1',
            photos: [ 
              {url: "http://img0.mxstatic.com/wallpapers/8edf0a81c753381ad708ddf6836d7135_large.jpeg"},
              {url: "http://www.ardeche.com/ou-sortir/image/627625.jpg"},
              {url: "http://www.montpellier.fr/uploads/Image/a9/17061_571_Culture-Fete_musique.jpg"}
            ],
            isLastArticles: true
          })
      .col-sm-4
        .article-list-label Peinture
        .last-articles.last2 
          +carousel({
            id:'last2',
            photos: [ 
              {url: "http://s011.radikal.ru/i318/1011/3e/5efe1aaf6c51.jpg"},
              {url: "http://pijet.com/wp-content/gallery/la-serenissima-project/La_Serenissima.jpg"},
              {url: "http://www.connaissancedesarts.com/medias/2011/12/20/93272_1324398073_vries.jpg"}
            ],
            isLastArticles: true
          })
      .col-sm-4
        .article-list-label Fromage
        .last-articles.last3
          +carousel({
            id:'last3',
            photos: [ 
              {url: "http://www.agoarts.com/images/Image/Fromage_mini_1359380807.jpg"},
              {url: "http://www.ichetkar.fr/wp-content/gallery/pieces-montees/pieces-montee-milk-factory-ichetkar_jjpallot_diaporama_03.jpg"},
              {url: "http://maison2.advcdn.net/images/medias/000/012/000012382/600.jpg"}
            ],
            isLastArticles: true
          })
    .row.text-center.mb-45
      a.btn.btn-default.btn-lg.btn-theme(href='/blog') Blog
      
mixin carousel(args)
  - var classLastArticles = '';
  if args.isLastArticles
    - classLastArticles = 'carousel-last-articles hidden-sm hidden-xs'
  div(class ="carousel slide #{classLastArticles}", id=args.id, data-ride='carousel', data-interval="3000")
    // Wrapper for slides
    .carousel-inner(role='listbox')
      if !args.isLastArticles
        .container
          .row
            ///.col-sm-offset-1.col-md-offset-2.article-label Photographie
      - var classItem = "active";
      each val, i in args.photos
        if i > 0
          - classItem=""
        .item(class=classItem)
          .fill(style="background-image:url(#{val.url}")
          if !args.isLastArticles
            .carousel-caption 
              h1 #{val.label}
              p #{val.resume}
    // Controls
    a.left.carousel-control(href='#'+args.id, role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href='#'+args.id, role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next